body {
	margin: 0px;
}

.menu_bar {
	list-style: none;
	background-color: #4a4a4a;
	margin: 0px;
}

.menu_bar li {
	float: left;
}

.menu_bar li a {
	text-decoration: none;
	color: white;
	display: block;
}